.dashboard_container
{
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

}

.dashboard__logo
{
    font-family: 'Grand Hotel', cursive;
    padding: 30px;
  

}

.dashboard__logo > a {
    font-weight: bolder;
    text-decoration: none;
    font-size: xx-large;
    color:mediumturquoise;
}



.dashboard_container > input
{
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    width:80%;
}

.dashboard_container > button
{
    width: 80%;
    color: white;
    background: #B2DFFC;
    border:none;
    padding:8px;
    border-radius: 2px;
    margin-bottom: 25px;
}


.dashboard__login
{
    display: flex;
    align-items: center;
} 

.dashboard__login> p
{
    font-weight: 200;
}

 .dashboard__login >a
 {
    text-decoration: none;
    color : #48D1CC;
    padding: 5px;
    border-radius: 2px;

    font-weight: 700;
    
 }

  .dashboard_container2
{
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: row;
   justify-content: center;
    padding:20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

}

.dashboard_container2>h3
{
    font-weight: 200;
}

.dashboard_container2>span{
    color : #0095F6;
    font-weight: bold;
    margin: 5px;
}